html {
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.chessboard {
  width: min(100vh, 100vw);
  height: min(100vh, 100vw); /* no matter how big the browser window is, the square will be resized correctly */
  margin: 0;
  padding: 0;
  display: grid;
  gap: 0;
  grid-template-columns: repeat(8, 1fr);
}

.chessboard > div {
  margin: 0;
  padding: 0;
}

.field {
  display: flex; /* centers text in the middle */
  align-items: center;
  justify-content: center;
  font-size: 35px;
  color: black;
}

div:contains("example") {
  /* your styles here */
}

.start {
  color: yellow;
}

.square1:nth-child(odd) {
  background-color: #00ccff;
}

.square1:nth-child(even) {
  background-color: #0099ff;
}

.square2:nth-child(odd) {
  background-color: #0099ff;
}

.square2:nth-child(even) {
  background-color: #00ccff;
}
